.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        %li.main-header__left-box__member-list__member
          = "Member : #{@group.show_members}"
    = link_to edit_group_path(@group) do
      .main-header__edit-btn Edit
  .messages
    = render partial: 'messages/message', collection: @messages
  .form
    = form_for [@group, @message], html: {class: 'new_message'} do |f|
      .input-box
        = f.text_field :message, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          %i.fa.fa-image
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
